.course-discount {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    font-weight: 600;

    border-top: 1px solid var(--color-lightgrey);
    padding: 1rem 0;

    position: relative;
}

.course-discount_badge {
    padding: 0.5rem;
    position: absolute;
    left: -3rem;
    top: -5rem;
    bottom: 0;
    z-index: 2;
    display: flex;
    width: 6rem;
    height: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #ffdb00;
    text-align: center;
}