.logos {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    /* gap: 1.5rem;
    align-items: center;
    margin-bottom: 2rem; */

    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-lightgrey);
    padding-bottom: 1.5rem;
}

.logos .logos_tech-item {
    height: 2rem;
}

.logos.logos_overflow{
    border-bottom: 0;
}

@media (max-width: 1024px) {
    .logos.logos_overflow {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: auto;
    }
}